<div id="<%= dom_id cart_temp %>">
  <p>
    <strong>Quantity:</strong>
    <%= cart_temp.quantity %>
  </p>

  <p>
    <strong>Abandoned:</strong>
    <%= cart_temp.abandoned %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= cart_temp.item_id %>
  </p>


</div>
