<h5 class="fs-3 text-center">Editing supplier</h5>

<%= render "form", supplier: @supplier %>

<br>

<div>
  <%= link_to "Show this supplier", @supplier %> |
  <%= link_to "Back to suppliers", suppliers_path %>
</div>
